<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--创建shiro 的filter对象-->
    <!--<bean id="shiroFilter" class="org.apache.shiro.web.ShiroFilterFactoryBean"-->

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" >
        <!--设置登录页的，未登录页及securityManager对象;及过滤器链-->
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="login.jsp"/>
        <property name="unauthorizedUrl" value="403.jsp"/>
        <!--过滤器链，从上往下进行匹配,这时不需要认证anon与需要认证authc-->
        <property name="filterChainDefinitions" >
            <value>
                /login.jsp = anon
                /index.jsp = anon
                /403.jsp = anon
                /subLogin = authc
                /* = authc
            </value>

        </property>


    </bean>

    <!--创建shiro所需要的SecurityManager对象,并设置realm属性为自定义realm-->
    <bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
        <!--这时为自定义realm-->
        <property name="realm" ref="realm"/>

    </bean>
    <!--创建自定义realm类CustomRealm-->
    <bean id="realm" class="com.yueking.core.shiro.realm.MyRealm">
        <!--设置自定义的realm采用的加密算法-->
        <property name="credentialsMatcher" ref="credentialsMatcher"/>

    </bean>

    <!--创建加密算法-->
    <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="credentialsMatcher">
        <!--设置加密算法-->
        <property name="hashAlgorithmName" value="md5"/>
        <!--设置加密次数-->
        <property name="hashIterations" value="2"/>

    </bean>

</beans>
